{% extends 'base.html' %}
{% load static %}
{% block title %} Orders {% endblock %}
{% block css %}
<style>
    .orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  width: 70%;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-details {
  display: flex;
}
@media(max-width: 500px) {
  .order-details {
  flex-direction: column;
  align-items: center;
}
  
}

.order-details img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 10px;
  margin-right: 20px;
}

.order-info {
  flex-grow: 1;
}

.order-info h3 {
  margin: 0;
}

.order-info p {
  margin: 5px 0;
}

.order-info p:last-child {
  margin-bottom: 10px;
}

</style>
{% endblock %}

{% block body %} 
<div class="orders-container">
    <div class="order">
      <div class="order-details">
        <img src="{% static 'ecom/img/product-1.jpg' %}" alt="Order #1 Image">
        <div class="order-info">
          <h3>Order #1</h3>
          <p>Date: January 1, 2024</p>
          <p>Items: Item 1, Item 2, Item 3</p>
          <p>Total: $100.00</p>
          <p>Status: Pending</p>
        </div>
      </div>
    </div>
    
    <div class="order">
      <div class="order-details">
        <img src="{% static 'ecom/img/product-2.jpg' %}" alt="Order #2 Image">
        <div class="order-info">
          <h3>Order #2</h3>
          <p>Date: January 5, 2024</p>
          <p>Items: Item 4, Item 5</p>
          <p>Total: $50.00</p>
          <p>Status: Shipped</p>
        </div>
      </div>
    </div>
    
    <!-- Add more orders as needed -->
  </div>
  
{% endblock %}